@font-face {
    font-family: cabeca;
    src: url('fonts/Cavilant.otf');
} 
@font-face {
    font-family: escrita;
    src: url('fonts/CaviarDreams.ttf');
}
:root{

    font-size: 1em;
    --cor0: #3838C7;
    --cor1: #0A0A0D;
    --cor2: #1C1F26;
    --cor3: #4C5059;
    --cor4: #636873;
    --cor5: #80848C;
    
}
*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: white;
}
header{
display: flex;
    background-color:var(--cor4) ;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.500);
    display: flex;
    align-items: center;
    padding: 10px 5%;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 2;
}
header #nome{
    padding: 0px 15px;
    text-align: center;
}
header h2{
    font-size: 1.2em;
}
main{
    display: flex;
    padding: 0px 35px;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: var(--cor4);
}
article.mid-right{
    background-color: #fff;
    position: relative;
    max-width: fit-content;
    padding: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.500);
    border-radius: 10px;
    z-index: 1;
}
article ul{
    padding-left: 30px;
}
aside{
    font-family: escrita;
    position: sticky;
    top: 230px;
    max-width: 300px;
    padding: 0px 15px;
    color: #fff;
}
aside h1{
    font-family: cabeca; ;
}
aside strong{
    background-image: linear-gradient(to top,var(--cor0),transparent);
    font-weight: bold;
    padding: 0px 6px;
    border-radius: 10px;
}
article h1{
    font-size: 1.5em;    
    padding: 10px 0px;
}
article h2{
    color: var(--cor2);
    font-size: 1.3em;
}
article h2 p{
    font-size: .8em;
    line-height: 0.5em;
    color: var(--cor4);
}
#foto{
    background-color: white;
    width: ;
    height: ;
    border-radius: 50%;
    border-color: var(--cor0);
    border-style: solid;
    border-width: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.500);
    }
#foto img{
    height: 100%;
    border-radius: 50%;
}